# Global Snippets.

snippet #!s
	#!/bin/sh

	# Created By: Javier Pacheco - javier@jpacheco.xyz
	# Created On: `strftime("%d/%m/%y")`
	# Project: ${1:Description of the script}

	${2:Your code starts here...}
