# My persoal useful snippets.

# [[ Neorg ]]
snippet lk
	{:${1:Object}:}[${2:Description}]

snippet lf
	{file:///${1:some/path/}:}[${2:Description}]

snippet <s 
	#tangle ${1:Name of the file...}
	@code ${2:Language}
	${0:Start coding...}
	@end
