/* jpbar */

/* Animations and FX */
@keyframes animate{ 
   0%{ 
     opacity: 0.3; 
   } 
   50%{ 
     opacity: 0.7; 
   } 
   100%{ 
     opacity: 0.3; 
   } 
 } 

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

window#waybar.empty #window {
    background: transparent;
}

window#waybar.floating {

}

tooltip {
    background: #181818;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    color: #555555;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button.focused {
    color: #a6adc8;
    /* background: #eba0ac; */
    border-radius: 5px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 0px;
    animation: animate 1.5s linear infinite; 
}

#workspaces button:hover {
    background: #181818;
    color: #cdd6f4;
    border-radius: 0px;
}

#tags button {
    color: #555555;
}

#tags button.active {
    color: #ffffff;
}

#tags button.focused {
    color: #a6adc8;
    /* background: #eba0ac; */
    border-radius: 5px;
}

#tags button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 0px;
    animation: animate 1.5s linear infinite; 
}

#tags button:hover {
    background: #181818;
    color: #cdd6f4;
    border-radius: 0px;
}

#custom-recorder,
#hyprland-submap,
#custom-window_state,
#window,
#clock,
#custom-weather,
#tags,
#battery,
#pulseaudio,
#network,
#bluetooth,
#memory,
#temperature,
#workspaces,
#tray,
#backlight {
    background: #181818;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 0px solid #181825;
}

#temperature {
    border-radius: 5px 0px 0px 5px;
}

#temperature.critical {
    color: #eba0ac;
}

#backlight {
    /* border-radius: 5px 0px 0px 5px; */
}

#tray {
    border-radius: 5px;
    margin-right: 10px;
}

#workspaces {
    background: #181818;
    border-radius: 5px 0px 0px 5px;
    padding: 0;
    margin-left: 10px;
    margin-right: 0px;
}

#tags {
    background: #181818;
    border-radius: 5px 0px 0px 5px;
    padding: 0;
    margin-left: 10px;
    margin-right: 0px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

#clock {
    color: #fab387;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
    border-right: 10px;
}

#network {
    color: #f9e2af;
    border-radius: 5px 0px 0px 5px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 10px;
    /* margin-right: 10px; */
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px
} 

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    /* border-radius: 0px 5px 5px 0px; */
}

#memory {
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 0px 0px 0px; 
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    border-radius: 5px 0px 0px 5px;
    border-left: 0px;
}

#custom-weather {
    /* border-radius: 5px 0px 0px 5px; */
    margin-left: 0px;
}

#custom-recorder {
    color: #c9545d;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;
    animation: animate 1.5s linear infinite; 
}

#custom-window_state {
    color: #ffffff;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#hyprland-submap{
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;
    animation: animate 1.5s linear infinite; 
}
